<section id="pratics" class="relative h-screen bg-dark">
  <article
    class="absolute grid p-4 -translate-x-1/2 -translate-y-1/2 border rounded top-1/2 left-1/2 md:w-1/2 place-content-center bg-dark/40 border-dark-light backdrop-blur-sm"
  >
    <h1
      class="mt-5 text-xl font-bold tracking-wide text-transparent uppercase lg:text-3xl font-rubik whitespace-nowrap bg-gradient-to-r from-white to-orange-600 bg-clip-text"
    >
      Google Keep and News
    </h1>

    <div class="flex items-center justify-center mt-10 space-x-2">
      <button class="btn" [routerLink]="['/auth/login']">Login</button>

      <button class="btn" [routerLink]="['/auth/signup']">Sign Up</button>
    </div>
  </article>
</section>
